$primary-color: #00a1de;
$break-medium: 960px;
$small-padding: 20px;
$base-color: #FFF;
$minor-padding: 10px;
$break-small: 570px;
$base-text-color: #003145;
$primary-button-color: #d40504;
$error-message-color: #d40504;
$error-background: #FFBABA;
